html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  min-height: 100%;
}

body {
  display: block;
  background-color: #2c2e31;
  font: 300 16px/1.5em Proxima Nova,sans-serif;
  color: #2c2e31;
  -webkit-font-smoothing: antialiased;
  margin: 0;
}

@media only screen and (min-width: 64.063em) {
  body {
      font: 300 20px/1.5em Proxima Nova,sans-serif;
  }
}

body:after {
  content: 'phone';
  position: fixed;
  bottom: -50px;
  left: 0;
  z-index: 1000;
  background: #fc0;
  padding: .4em;
  visibility: hidden;
}

@media only screen and (min-width: 64.063em) {
  body:after {
      content: 'desktop';
  }
}

@media only screen and (min-width: 40.063em) {
  body:after {
      content: 'tablet';
  }
}

.pageContainer {
  position: relative;
  left: 0;
}

.alertContainer {
  background-color: rgba(255, 255, 255, 0.945);
  position: absolute;
  min-height: 120px;
  font-size: 18px;
  box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.445);
  color: black;
  border: 2px solid rgba(0, 0, 0, 0.308);
  border-radius: 10px;
  min-width: 420px;
  z-index: 150;
  margin-top: 15%;
}